@model IEnumerable<AnnaAndSarahWeb.Models.tblCategory>

@{
    ViewBag.Title = "GetMainProductList";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    @Html.ActionLink("Yeni Kayıt", "NewCategory", new { id = 0 })
                </h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Kategori Adı</th>
                            <th>Resim</th>
                            <th>Alt Ürünler</th>                  
                            <th>Güncelle</th>                  
                            <th>Sil</th>                  
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CatName)
                                </td>
                                <td style="width: 60px;">
                                    <img src="~/images/Categories/@item.Image" alt="Raw Almonds" class="current-product-img img-responsive center-block" />   
                                </td>                               
                                <td>
                                    @Html.ActionLink("Ana Ürün Grubu", "MainProductDetail", new { id = item.Cid })                                   
                                </td>
                                <td>
                                    @Html.ActionLink("Güncelle", "Deneme", new { id = item.Cid })
                                </td>
                                <td>
                                    @Html.ActionLink("Sil", "DeleteCategory", new { id = item.Cid })
                                </td>
                            </tr>
                           }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Kategori Adı</th>
                            <th>Resim</th>
                            <th>Alt Ürünler</th>   
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
