@model HaberPortal.Models.tbl_PortalHaber_YazarParaTalep

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_PortalHaber_YazarParaTalep</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Site_Grup_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site_Grup_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Talep_Tarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Talep_Tarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Talep_Miktar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Talep_Miktar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onay_Tarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onay_Tarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onay_Miktar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onay_Miktar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_PortalHaber_Yazar.YName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_PortalHaber_Yazar.YName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pt_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
