<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/awesome.min.css">
    <link rel="stylesheet" href="~/Content/ionicons.min.css">


</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="/Views/Home/Index.cshtml" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>H</b>PT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Haber</b>Portal</span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">


                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-128.png" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                @*<span class="hidden-xs">Alexander Pierce</span>*@
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-128.png" class="img-circle" alt="User Image">
                                    <p>
                                        @ViewBag.Username
                                        <small>@ViewBag.NowDate</small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">

                                    <div class="pull-right">
                                        @Html.ActionLink("Çıkış", "LogOut", new { controller = "Home", id = 1 }, new { @class = "btn btn-default btn-flat" })

                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-128.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@ViewBag.Username</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>asds
                </div>

                <ul class="sidebar-menu">
                    @*@{
                        Html.RenderAction("Index", "Menu");

                    }
                    @model List<HaberPortal.Models.tbl_PortalHaber_Menu>

                    @foreach (var item in Model)
                    {
                        <li class="active"><a href="#"><i class="fa fa-plus"></i> <span>Menu</span></a></li>
                    }*@

                    <li class="active"><a href="@Url.Action("AddEssay","Home")"><i class="fa fa-plus"></i> <span>Yazı Ekle</span></a></li>
                    <li><a href="@Url.Action("EssayList","Home")"><i class="fa fa-link"></i> <span>Yazılarım</span></a></li>
                    @*<li><a href="#"><i class="fa fa-link"></i> <span>Hesabım</span></a></li>
                        <li><a href="#"><i class="fa fa-user"></i> <span>Profilim</span></a></li>*@
                    <li class="active"> <a href="~/Menu/Index"> <i class="fa fa-link"></i> <span>Menuler</span></a></li>
                    <li class="active"> <a href="~/Tip/Index"> <i class="fa fa-link"></i> <span>Kullanıcı Tipi</span></a></li>
                    <li class="active"> <a href="~/Menu_Tip_Relation/Index"> <i class="fa fa-link"></i> <span>Menu Tip İlişkisi</span></a></li>

                    <li class="active"> <a href="~/SiteGrubu/Index"> <i class="fa fa-link"></i> <span>Site Grupları</span></a></li>
                    <li class="active"> <a href="~/Site/Index"> <i class="fa fa-link"></i> <span>Siteler</span></a></li>
                    <li class="active"> <a href="~/Kategori/Index"> <i class="fa fa-link"></i> <span>Kategorler</span></a></li>
                    <li class="active"> <a href="~/Yazar/Index"> <i class="fa fa-link"></i> <span>Yazarlar</span></a></li>
                    <li class="active"> <a href="~/Kaynak/Index"> <i class="fa fa-link"></i> <span>Kaynaklar</span></a></li>
                    <li class="active"> <a href="~/YazarParaAyar/Index"> <i class="fa fa-link"></i> <span>Yazar Ücretleri</span></a></li>
                    <li class="active"> <a href="~/YazarSiteRelation/Index"> <i class="fa fa-link"></i> <span>Yazar Site Bağlantıları</span></a></li>
                    <li class="active"> <a href="~/Banner/Index"> <i class="fa fa-link"></i> <span>Bannerlar</span></a></li>
                    <li class="active"> <a href="~/Banner_VeriGelmeTipi/Index"> <i class="fa fa-link"></i> <span>Banner Veri Gelme Tipleri</span></a></li>
                    <li class="active"> <a href="~/Banner_Site_Relation/Index"> <i class="fa fa-link"></i> <span>Banner Site Bağlantıları</span></a></li>


                </ul>

                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content ************************************************************************* -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content ********************************************************************************-->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                KuziWorksTeam
            </div>
            <!-- Default to the left -->
            <strong>&copy; 2017-2018 <a href="#">HaberPortal</a></strong> Tüm Hakları Saklıdır.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("scripts", required: false)

    <script>

        $(document).ready(function () {
            $('#summernote').summernote({
                height: 400,
                airmode: true
            });

        })
    </script>



</body>

</html>
